{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "proseWrap": "preserve",
    "arrowParens": "always",
    "bracketSpacing": true,
    "disableLanguages": [
        "javascript",
        "javascriptreact",
        "typescript",
        "typescriptreact",
        "json"
    ],
    "endOfLine": "auto",
    "htmlWhitespaceSensitivity": "ignore",
    "ignorePath": ".prettierignore",
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "requireConfig": false,
    "trailingComma": "es5"
}